.mobileMenuContainer {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: var(--backgroundColor1);
}

.hamburger-container {
  margin: 10px 10px;
  /* height: 20px; */
}

.slice {
  border: 1.3px solid var(--fontColor1);
  background-color: var(--fontColor1);
  width: 20px;
  margin: 5px;
}

.slice-1-animation {
  position: absolute;
  transform: rotate(45deg);
}
.slice-2-animation {
  display: none;
}
.slice-3-animation {
  position: absolute;
  transform: rotate(315deg);
}

.desktopListContainer {
  display: flex;
  flex-direction: row;
}

/*Media Queries*/
@media only screen and (min-width: 768px) {
  .mobileMenuContainer {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .desktopMenuContainer {
    display: none;
  }
}
